<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{.Username}}, benvida a {{AppName}}</title>
</head>

<body>
	<p>Ola <b>{{.Username}}</b>, este é o teu correo de confirmación para {{AppName}}!</p>
	<p>Podes iniciar sesión co teu nome de usuario: {{.Username}}.</p>
	<p><a href="{{AppUrl}}user/login">{{AppUrl}}user/login</a></p>
	<p><a target="_blank" href="{{AppUrl}}">{{AppName}}</a></p>
</body>
</html>
