{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div>
				<img class="logo" src="{{AppSubUrl}}/img/CoLab_300x300.png" />
			</div>
			<div class="hero">
				<h1 class="ui icon header title">
					Forxa Co-Lab
				</h1>
				<!-- <h2>{{.i18n.Tr "app_desc"}}</h2> -->
					<p><a href="http://www.coruna.es/participacion" target="_blank"><img src="http://colab.coruna.gal/wp-content/uploads/2016/11/coruna-participacion.png" alt="Concello da Coruña - Concellaría de Cultura"></a></p>
					<p><strong>Concellaría de Participación e Innovación Democrática |  Concello da Coruña</strong><br>Praza de María Pita, 1<br>15001 A Coruña<br>981 184 200 | 010</p>
					<p><a href="http://www.coruna.es/participacion" target="_blank">coruna.es/participacion</a></p>

					<p><a href="http://colab.coruna.gal/aviso-legal/">Aviso legal</a></p>
					<p><a href="http://colab.coruna.gal/politica-de-privacidade/">LOPD</a></p>
					<p><a href="http://colab.coruna.gal/accesibilidade/">Accesibilidade</a></p>
					<p><a href="http://colab.coruna.gal/politica-de-uso-de-cookies/">Política de uso de cookies</a></p>      
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
